<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/kientux/kientux.github.io/releases/download/v2.4.8.b1-sapo/Sapo.Testing.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://i.imgur.com/myfepLo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://i.imgur.com/Zpr6YPs.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.dkt.Sapo.iPhone</string>
				<key>bundle-version</key>
				<string>2.4.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Sapo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
